appBio/src/app/aceptar-terminos/a.txt
# node_modules y dependencias
node_modules/
package-lock.json
yarn.lock

# Salidas de compilación
dist/
build/
out-tsc/

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de IDE
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
