
<nav class="navbar navbar-expand-lg m-0 p-0">
  <div class="container-fluid ">

    <a class="navbar-brand" routerLink="homePrincipal">
      <!-- HU de Roxana - Logo de Navbar -->
      <img src="/logo-biogas.png" alt="logo" width="50" height="60">
      <!--<img class="footer-logo" src="/logo-biogas.png" alt="Logo BioGas" width="50" height="60">
  -->
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="inicio">Inicio</a>
        <a class="nav-link" routerLink="QuienesSomos">Quiénes somos</a>
        <a class="nav-link" routerLink="formularioRegistro">Registrarse</a>
        <a class="nav-link" routerLink="ingresar">Ingresar</a>
        <a class="nav-link" routerLink="for">Preguntas frecuentes</a>
      </div>
    </div>
  </div>
</nav>
