
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="">
      <img src="/loBio.JPG" alt="logo de loBio" width="50" height="50">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Sobre el Proyecto</a>
        <a class="nav-link" href="#">Quiénes somos</a>
        <a class="nav-link" href="#">Preguntas frecuentes</a>
        <a class="nav-link" href="#">Contacto</a>
        <a class="nav-link" href="#">Registrarse</a>
        <a class="nav-link" href="#">Ingresar</a>
      </div>
    </div>
  </div>
</nav>
