<div class="about-us-container">
    <h1>Quiénes Somos</h1>
    <div class="about-us-content">
      <p>
        Somos un equipo apasionado de profesionales dedicados al desarrollo de soluciones sostenibles para la producción de energía limpia. Nuestro proyecto principal se centra en la creación y optimización de biodigestores que permiten transformar residuos orgánicos en biogás, una fuente de energía renovable y ecológica.
      </p>
      <p>
        Con el objetivo de ofrecer una alternativa eficiente y respetuosa con el medio ambiente, estamos trabajando para llevar al mercado biodigestores que puedan ser utilizados tanto a nivel industrial como doméstico. Creemos firmemente en la importancia de reducir la huella de carbono y en la reutilización de los desechos para generar un impacto positivo en la sociedad.
      </p>
    <p>
    Cada miembro de nuestro equipo aporta conocimientos especializados en áreas como ingeniería, desarrollo de tecnología sostenible y gestión de proyectos energéticos, lo que nos permite ofrecer soluciones innovadoras y de alta calidad. Nuestro compromiso es ayudar a nuestros clientes a adoptar prácticas más verdes, ofreciendo biogás como una opción viable y económica para cubrir sus necesidades energéticas.
    </p>
    </div>
  
    <div class="team-section">
        <h2>Conoce a nuestro equipo</h2>
        <div class="team-members">
          <!-- Primer fila -->
          <div class="team-member">
            <img src="team-member1.jpg" alt="Miembro del equipo 1">
            <h3>Mancuello	Roxana</h3>
            <p></p>
          </div>
    
          <div class="team-member">
            <img src="team-member2.jpg" alt="Miembro del equipo 2">
            <h3>Santangelo	Alejandro</h3>
            <p></p>
          </div>
    
          <div class="team-member">
            <img src="team-member3.jpg" alt="Miembro del equipo 3">
            <h3>Santangelo	Paz</h3>
            <p></p>
          </div>
    
          <!-- Segunda fila -->
          <div class="team-member">
            <img src="team-member4.jpg" alt="Miembro del equipo 4">
            <h3>Seco	Chiara</h3>
            <p></p>
          </div>
    
          <div class="team-member">
            <img src="team-member5.jpg" alt="Miembro del equipo 5">
            <h3>Quimey	Delgado</h3>
            <p></p>
          </div>
    
          <div class="team-member">
            <img src="team-member6.jpg" alt="Miembro del equipo 6">
            <h3>Larcher	Juan</h3>
            <p></p>
          </div>
    
          <!-- Tercera fila -->
          <div class="team-member">
            <img src="team-member7.jpg" alt="Miembro del equipo 7">
            <h3>Barrionuevo	Nicolas</h3>
            <p></p>
          </div>
    
          <div class="team-member">
            <img src="team-member8.jpg" alt="Miembro del equipo 8">
            <h3>Tinaro	Tobias</h3>
            <p></p>
          </div>
    
          <div class="team-member">
            <img src="team-member9.jpg" alt="Miembro del equipo 9">
            <h3>Vergara	Jeremías</h3>
            <p></p>
          </div>

          <!-- Cuarta fila -->
          <div class="team-member">
            <img src="team-member7.jpg" alt="Miembro del equipo 7">
            <h3>Asis	Leandro</h3>
            <p></p>
          </div>
    
          <div class="team-member">
            <img src="team-member8.jpg" alt="Miembro del equipo 8">
            <h3>Oliva	Mariano</h3>
            <p></p>
          </div>
    
          <div class="team-member">
            <img src="team-member9.jpg" alt="Miembro del equipo 9">
            <h3>Aberghina	Natalia</h3>
            <p></p>
          </div>

            <!-- Quinta fila -->
          <div class="team-member">
            <img src="team-member7.jpg" alt="Miembro del equipo 7">
            <h3>Pamelin	Candela</h3>
            <p></p>
          </div>

        </div>
      </div>
  
  
    <!-- Botón de volver a la página anterior -->
    <div class="back-button">
      <button onclick="goBack()">Volver atrás</button>
    </div>
  </div>
  
  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <p>© 2024 Biodigestor.</p>
      <p>
        <a href="#">Términos y Condiciones</a> | 
        <a href="#">Política de Privacidad</a> | 
        <a href="#">Contacto</a>
      </p>
    </div>
  </footer>
  