<div class="container-fluid login-container">
  <div class="row justify-content-start align-items-center vh-100">
    <div class="col-md-4">
      <div class="card p-4 shadow-lg login-card">
        <h2 class="text-center text-success mb-4">Iniciar sesión</h2>
        <form>
          <div class="form-group mb-3">
            <label for="usuario" class="text-white">Usuario</label>
            <input
              type="text"
              id="usuario"
              class="form-control"
              placeholder="Ingrese su usuario"
              required
            />
          </div>
          <div class="form-group mb-4">
            <label for="password" class="text-white">Contraseña</label>
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="Ingrese su contraseña"
              required
            />
          </div>
          <button type="submit" class="btn btn-success btn-block">Ingresar</button>
          <div class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-link mt-3" (click)="abrirVentanaEmergentePassword()">Olvidaste tu contraseña?</button>
            <a href="#" class="text-muted">Quiero registrarme</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
