<div class="container-fluid login-container">
  <div class="row justify-content-start align-items-center vh-100">
    <div class="col-md-4">
      <div class="card p-4 shadow-lg login-card">
        <h2 class="text-center text-success mb-4">Iniciar sesión</h2>

        <!-- Formulario de inicio de sesión -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">    
          <div class="m-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input 
              type="email" 
              class="form-control" 
              formControlName="mail" 
              id="exampleInputEmail1"
              placeholder="Ingrese su correo electrónico">
          </div>
          
          <div class="m-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input 
              type="password" 
              class="form-control" 
              formControlName="password" 
              id="exampleInputPassword1"
              placeholder="Ingrese su contraseña">
          </div>
        
          <div class="m-3">
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </div>
        </form>
        
        