<div class="hero-container">
  <img src="/hero.jpg" class="hero-image" alt="...">
  <div class="hero-text">
    <p class="hero-subtitle">Sé el cambio que quieres ver en el mundo</p>
    <h2 class="hero-title">Transformamos tus residuos en <span>energía limpia</span></h2>
  </div>
</div>

<section class="container-elegirnos p-4">
  <div class="pb-4">
    <h3 class="title">¿Por qué elegirnos?</h3>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center align-items-center g-2">

    <div class="col d-flex justify-content-center">
      <div class="card h-100 rounded-4" style="max-width: 18rem;">
        <div class="card-header d-flex align-items-center">
          <img class="me-2" src="/logo-manzana.png" alt="logo manzana">
          <h5 class="card-title">Recicla residuos orgánicos</h5>
        </div>
        <div class="card-body">
          <p class="card-text text-center">Aprovecha tus desechos orgánicos para producir energía limpia. Ahorra en tu
            factura de luz y gas, y reduce las emisiones de Dióxido de Carbono.</p>
        </div>
      </div>
    </div>

    <div class="col d-flex justify-content-center">
      <div class="card h-100 rounded-4" style="max-width: 18rem;">
        <div class="card-header d-flex align-items-center">
          <img class="me-2 logo-medio-ambiente" src="/medio-ambiente.png" alt="imagen de medio ambiente">
          <h5 class="card-title">Cuida del medio ambiente</h5>
        </div>
        <div class="card-body">
          <p class="card-text text-center">Crea conciencia y cuida de tu entorno. Ayuda a construir un futuro mejor de
            la mano del biogás.</p>
        </div>
      </div>
    </div>

    <div class="col d-flex justify-content-center">
      <div class="card h-100 rounded-4" style="max-width: 18rem;">
        <div class="card-header d-flex align-items-center">
          <img class="me-2" src="/foco-luz.png" alt="foco de luz">
          <h5 class="card-title">Ahorra en la factura de gas/luz</h5>
        </div>
        <div class="card-body">
          <p class="card-text text-center">Benefíciate de todas las oportunidades que te da la economía circular y baja
            la suma de tu factura generando tu propia energía.</p>
        </div>
      </div>
    </div>
  </div>
</section>
