
  	
  	<!DOCTYPE html>
	  <html>
	  <head>
			<meta charset="utf-8">
			<meta name="viewport" content="initial-scale=1, width=device-width">
			
			<link rel="stylesheet"  href="./quienessomos.component.html" />
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abril Fatface:wght@400&display=swap" />
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;1,500&display=swap" />
			
			
			
	  </head>
	  <body>
			
			<div class="quienessomos">
				  <div class="quienessomos-child">
				  </div>
				  <div class="quienes-somos">Quienes Somos</div>
				  <div class="resea-historica-del">Reseña Historica del Instituto Superior “Dr. Bernardo Houssay”</div>
				  <div class="text"> </div>
				  <div class="fue-fundado-gracias"> Fue fundado gracias a la iniciativa de un grupo de vecinos relacionados con el Ex Colegio Nacional y la Sección Comercial Anexa. Bajo la dirección de la Rectora, Profesora María Teresa Oviedo de Montoya, se formó una comisión denominada 'Pro Creación Terciario'."</div>
				  <div class="inicio-1986-container">
						<p class="p">------------------------------------------------------------</p>
						<p class="p">| [Inicio] -- [1986: Fundación] --[1989: Expansión] -- [2010: Nuevas Carreras] -- [Actualidad]</p>
						<p class="p">| </p>
						<p class="en-1986-se">| "En 1986, se inauguraron las clases de la primera carrera: el Profesorado en Geografía
							  y Ciencias Biológicas. En 1989, el instituto se transformó en I.N.E.S. y se ampliaron
							  las ofertas educativas con la incorporación de Carreras
							  Técnicas como Técnico Superior en Administración de Empresas, Guía y
							  Técnico Superior en Turismo, entre otras."</p>
						<p class="p">| </p>
						<p class="p">------------------------------------------------------------</p>
				  </div>
				  <i class="tecnicatura-superior-en">*Tecnicatura Superior en Marketing Digital</i>
				  <i class="tecnicatura-superior-en1">*Tecnicatura Superior en Diseño Gráfico</i>
				  <i class="tecnicatura-superior-en2">*Tecnicatura Superior en Desarrollo de Software</i>
				  <img class="quienessomos-item" alt="" src="Rectangle 33.svg">
				  
				  <div class="nombre">Nombre</div>
				  <div class="apellido">Apellido</div>
				  <div class="quienessomos-inner">
				  </div>
				  <div class="rectangle-div">
				  </div>
				  <div class="quienessomos-child1">
				  </div>
				  <div class="quienessomos-child2">
				  </div>
				  <div class="quienessomos-child3">
				  </div>
				  <div class="quienessomos-child4">
				  </div>
				  <div class="quienessomos-child5">
				  </div>
				  <div class="quienessomos-child6">
				  </div>
				  <img class="rectangle-icon" alt="" src="Rectangle 33.svg">
				  
				  <i class="tecnicatura-superior-en3">*Tecnicatura Superior en Administración   </i>
				  <i class="tecnicatura-superior-en4">*Tecnicatura Superior en Guía de Turismo</i>
				  <i class="profesorado-en-educacin">*Profesorado en Educación Secundaria en Biología</i>
				  <i class="profesorado-en-educacin1">*Profesorado en Educación Secundaria en Geografía</i>
				  <div class="quienessomos-child7">
				  </div>
				  <div class="colaboradores">Colaboradores</div>
				  <div class="nombre1">Nombre</div>
				  <div class="nombre2">Nombre</div>
				  <div class="nombre3">Nombre</div>
				  <div class="nombre4">Nombre</div>
				  <div class="nombre5">Nombre</div>
				  <div class="nombre6">Nombre</div>
				  <div class="nombre7">Nombre</div>
				  <div class="nombre8">Nombre</div>
				  <div class="apellido1">Apellido</div>
				  <div class="apellido2">Apellido</div>
				  <div class="apellido3">Apellido</div>
				  <div class="apellido4">Apellido</div>
				  <div class="apellido5">Apellido</div>
				  <div class="apellido6">Apellido</div>
				  <div class="apellido7">Apellido</div>
				  <div class="apellido8">Apellido</div>
				  <div class="apellido9">Apellido</div>
				  <div class="quienessomos-child8">
				  </div>
				  <div class="nombre9">Nombre</div>
				  <div class="apellido10">Apellido</div>
				  <div class="nombre10">Nombre</div>
				  <img class="logo-instituto-1-icon" alt="" src="./imange/logo_Instituto_1.png">
				  
				  <img class="portada-instituto-1-icon" alt="" src="./imange/portada_Instituto_1.png">
				  
				  <div class="carreras-que-se">Carreras  que  se  dictan  en  la  actualidad</div>
			</div>
			
			
			
			
	  </body>
	  </html>