body {
    margin: 0;
    height: 100vh;
    background-image: url('./foto/jardin.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0); /* Fondo completamente transparente */
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px; /* Ajusta según sea necesario */
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo del card semitransparente */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}









  
  