<div class="form-container">
    <h2>Registro de Usuario</h2>
    <form>
        <div class="form-group">
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" placeholder="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Contraseña" required >
        </div>
        
        <div class="form-actions">
            <input type="submit" value="Registrarse">
            <button type="button" (click)="goBack()">Volver Atrás</button>
        </div>
    </form>
</div>
